@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap');

/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: block;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;
}

/* This hides the default page when another page is clicked */
:target ~ .default {
    display: none;
}

h1, h2, h3, h4, h5, h6, .nav {
    font-family: 'Roboto Slab', serif;
}

h1, h2 {
    color: goldenrod
}

h3, h4 {
    color: purple
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.nav {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.nav .button {
    padding: 10px 24px;
    border-radius: 8px;
    background-color: purple;
    margin: 5px;
}

.nav a {
    color: white; 
    text-decoration: none;
}

.nav .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a {
    color: #009b9e;
}

p {
    margin-bottom: 32px;
}

.values, .who ul, .upcoming {
    list-style: none;
    margin-bottom: 32px;
    margin-left: 0;
    padding-left: 0;
}

.title img {
    width: 160px;

}